@import "variables";
@import "mixins";

.grid{
	margin-left:-2px;
	margin-right: -2px;
	.grid-sizer, .grid-item{
		width: 50%;
		padding:2px;
		@media screen and (max-width:768px)
		{
			width:100%;
		}
		.item-content{
			//padding:2px;
			background-color:$grayscale;
			.item-content-text{
				color:black;
				text-transform: uppercase;
				padding: 10px;
				h5{
					@include resetmargin;
				}
				h5:hover{
					text-decoration: none;
				}
				p{
					@include resetmargin;
					font-size: 0.85em;
				}
			}
			a:hover{
				text-decoration: none;
			}
		}
	}
}